fastapi
uvicorn
openai
llama-index
llama-index-vector-stores-pinecone
llama-index-llms-openai
llama-index-llms-anthropic
llama-index-llms-gemini
pinecone-client
supabase
python-dotenv
PyPDF2
python-docx
